<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ course_info.name }}{% endblock %}
{% block content %}
<h1>{{ course_info.name }}</h1>
{% if join %}
<h3>Olet ilmoittautunut!</h3>
{% else %}
<h3>Ilmoittaudu kurssille:</h3>
<form action="/enrol" method="POST">
    <input type="submit" value="Ilmoittaudu">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="course_id" value="{{ course_info.id }}">
</form>
{% endif %}
<hr>
{% if materials %}
<h3>Materiaali:</h3>
{% for material in materials %}
{{ material.material }}
<hr>
{% endfor %}
{% endif %}

{% if text_questions %}
<h3>Tehdyt tehtävät:</h3>


<h3>Tekstikysymykset:</h3>
<ul>
{% for text_question in text_questions %}
<li><a href="/course/{{ course_info.id }}/text_question/{{ text_question.id }}">
{{ text_question.question }}</a>
<br></li>
{% endfor %}
</ul>
<hr>
{% endif %}

{% if multiple_choice_questions %}
<h3>Monivalintakysymykset:</h3>
<ul>
{% for multiple_choice_question in multiple_choice_questions %}
<li><a href="/course/{{ course_info.id }}/multiple_choice/{{ multiple_choice_question.id }}">
{{ multiple_choice_question.question }}</a>
<br></li>
{% endfor %}
</ul>
<hr>
{% endif %}

<a href="/">Takaisin</a>
{% endblock %}