<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<h1>{{ name }}</h1>
{% if join %}
<h3>Olet ilmoittautunut!</h3>
{% else %}
<h3>Ilmoittaudu kurssille:</h3>
<form action="/enrol" method="POST">
    <input type="submit" value="Ilmoittaudu">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">
</form>
{% endif %}
<hr>
{% if materials %}
<h3>Materiaali:</h3>
{% for material in materials %}
{{ material.material }}
<hr>
{% endfor %}
{% endif %}
{% if text_questions %}
<h3>Tekstikysymykset:</h3>
{% for text_question in text_questions %}
{{ text_question.question }}
<hr>
{% endfor %}
{% endif %}

<a href="/">Takaisin</a>
{% endblock %}