<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kurssit{% endblock %}
{% block content %}
{% if session.username %}
<h1>Kurssit</h1>
<p>Olet kirjautunut nimellä
    <b>{{ session.username }}</b>
</p>
<hr>
<h3>Kurssilista:</h3>
{% for course in courses_info %}
{{ course.id }}.
<a href="/course/{{ course.id }}">{{ course.name }}</a>
{% if admin %}
<form action="/remove_course" method="POST">
    <input type="submit" value="Poista kurssi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="course_id" value="{{ course.id }}">
</form>
{% endif %}
<br>
{% endfor %}
{% if admin %}
<hr>
<h3>Lisää kurssi:</h3>
<fieldset>
    <form action="/add_course" method="POST">
        Kurssin nimi: (1-50 merkkiä)
        <br>
        <textarea name="course_name" rows="1" cols="40"></textarea>
        <br>
        <input type="submit" value="Lisää">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</fieldset>
{% endif %}
<hr>
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
{% endblock %}
