{% if session.username %}
<title>teach.me - Etusivu</title>
<h1>Etusivu</h1>
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<title>teach.me - Luo tili</title>
<h1>Tervetuloa!</h1>
<p>Kirjaudu sisään</p>
<form action="/login" method="POST" onsubmit="return check(this)">
<p>{{ message }}</p>
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>

<script>
    function check(form) {
        if (form.username.value.length > 16) {
            alert("Tunnus on liian pitkä");
            return false;
        }
        if (form.username.value.length < 1) {
            alert("Tunnus on liian lyhyt");
            return false;
        }
        if (form.password.value.length > 16) {
            alert("Salasana on liian pitkä");
            return false;
        }
        if (form.password.value.length < 8) {
            alert("Salasana on liian lyhyt");
            return false;
        }
        return true;
    }
    </script>

<form action="/signup">
<input type="submit" value="Luo tili">
</form>
{% endif %}