<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Materiaali{% endblock %}
{% block content %}
{% if material_id %}
<h3>Materiaali</h3>
<b>Alkuperäinen materiaali:</b>
<br>
<p>{{ material_text }}</p>
<fieldset>
<form action="/change_material" method="POST">
    Muuta materiaalia: <br>
    <textarea name="material_text" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Päivitä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="material_id" value="{{ material_id }}">
    <input type="hidden" name="course_id" value="{{ course_id }}">
</form>
</fieldset>
{% endif %}
<hr>
<a href="/course/{{ course_id }}">Takaisin</a>
{% endblock %}