<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Materiaali{% endblock %}
{% block content %}
{% if material_id %}
<br>
<div class="header">
    <h3>Materiaali</h3>
</div>
<br>
<div class="content">
    <b>Alkuperäinen materiaali:</b>
    <br>
    <p>{{ material_text }}</p>
    <fieldset class="form">
        <form action="/change_material" method="POST">
            Muuta materiaali: (1-500 merkkiä)
            <br>
            <textarea name="material_text" rows="3" cols="40"></textarea>
            <br>
            <input type="submit" value="Päivitä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="material_id" value="{{ material_id }}">
            <input type="hidden" name="course_id" value="{{ course_id }}">
        </form>
    </fieldset>
</div>
<br>
{% endif %}
<a href="/course/{{ course_id }}" class="nav">Takaisin</a>
{% endblock %}
