<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Monivalintakysymys {{ question.id }}.{% endblock %}
{% block content %}
{% if choices %}
<h3>Monivalintakysymys {{ question.id }}.</h3>
{{ question.question }}
<hr>
<form action="/answer_multiple_choice_question" method="POST">
{% for choice in choices %}
<input type="radio" name="multiple_choice_question_answer" value="{{ choice.option }}"> 
{{ choice.option }} <br>
{% endfor %}
<p>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="question_id" value="{{ question.id }}">
<input type="hidden" name="course_id" value="{{ course_id }}">
</form>
{% endif %}
<hr>
<a href="/course/{{ course_id }}">Takaisin</a>
{% endblock %}